* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

/*style nav*/
.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 80px;
    width: 100%;
    align-items: center;
    position: fixed;
}

.logo {
    font-size: 30px;
    color: white;
    text-decoration: none;

}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 50px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    transform: translateY(-3px);
}

.menu a:hover {
    color: #636e72;


}

.menu .active {
    color: #636e72;
}

.navbar0 {
    display: none;
}

/*style sectiion 1*/
.section_1 {
    background-image: url(https://i.pinimg.com/564x/da/3e/e7/da3ee7b570a2e78ccd6a1a35253ddf14.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
}


/*style sectiion 2*/
.section_2 {
    background-color: #000;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding: 0 200px;
    position: relative;
}

.flip-card {
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    font-family: sans-serif;
    position: relative;
}

.title {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-front-1,
.flip-card-front-2,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #636e72;
    border-radius: 1rem;
    font-size: 1.5em;
}

.flip-card-front {
    background-image: url(https://i.pinimg.com/236x/ec/68/78/ec6878ae2cb6b186a37231a39cdfa5b2.jpg);
    background-size: cover;
    color: black;
}

.flip-card-front-1 {
    background-image: url(https://images.unsplash.com/photo-1657308951437-d724f1668dd7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJhbmNvaXMlMjBkJ2Fzc2lzZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    color: black;
}

.flip-card-front-2 {
    background-image: url(https://th.bing.com/th/id/OIP.5a1MdrqR3wumiRIDclzj9AHaJR?w=184&h=230&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    color: black;
}


.flip-card-back {
    background: linear-gradient(120deg, #636e72 30%, #b2bec3 88%,
            #dfe6e9 40%, #b2bec3 78%);
    color: black;
    transform: rotateY(180deg);
}

/*section 3*/
.section_3{
    position: relative;
    background-color: #000;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
.texte_3{
    margin: 10px 200px;
    color: white;
    align-items: center;
    text-align: center;
}
/*section_4*/
.section_4{
    background-image: url(https://plus.unsplash.com/premium_photo-1680024883851-08648eabf141?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGVnbGlzZSUyMGNhdGhvbGlxdWV8ZW58MHx8MHx8fDA%3D);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
}

@media only screen and (min-width:320px) and (max-width:1200px){
    .navBar{
        margin: 0;
        padding: 0;
    }
    .menu ul {
        display: none;
    }
    .navbar0 {
        display: block;
        float: left;
        width: 200px;
        font-size: 40px;
    }    
    .navBar .logo h1{
        font-size: 50px;
        font-weight: bold; 
    }
    
    /*style sectiion 1*/
    .section_1, .section_4{
        width: 1200px; 
        font-size: 70px;   
    }
    .section_1 .texte1{
       width: 1200px;
    }
    
    /*style sectiion 2*/
    .section_2{
        padding-top: 100px;
        width: 1200px;
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section_3{
        width: 1200px;
        height: 5000px;
        
    }
   
    footer{
        padding-top: 50px;
        width: 1200px;
        text-align: center;
        align-items: center;
        font-size: 50px;
    }
    .texte_3{
        font-size: 70px;
    }
    .icon{
        height: 50px;
        width: 50px;
    }
    .texteF{
        font-size: 50px;
    }
    
}    
